<div class="contact_info">
  <h2>Contact Information</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-title"><h5>Next Door Pet Sitters LLC</h5>Downtown St. Paul, MN</li>
    <li class="list-group-item">Phone: 651-964-0595</li>
    <li class="list-group-item">Email: <a href="mailto:pam@nextdoorpetsitters.com">pam@nextdoorpetsitters.com</a></li>
  </ul>

  <p><em>Call</em>, <em>text</em>, or <a href="mailto:pam@nextdoorpetsitters.com"><em>email</em></a> to request care for your pet! or click below to schedule a meet and greet.</p>
  <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
    <a id="Setmore_button_iframe" class="btn btn-primary btn-lg" href="https://my.setmore.com/shortBookingPage/62b7d367-14dd-4d47-b93d-efa8b0e63d10">Request a sitter Today! &raquo;</a>
</div>