.intro{
  height: 70%;
  text-align: center;
  background-image: url('/img/dog_hero.jpg');
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  .filter{
    height: 100%;
  }
  .container{
    height: 60%;
    padding: 2% 0;
  }
}

.big-logo{
  background-image: url('/img/Next_Door_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 50%;
  height: 90%;
  margin-left: 40px;
}
.slogan{
  font-style: italic;
  font-size: 16px;
  padding: 20px 0;
  background: $brand-primary;
  p{
    text-align: center;
    margin: 0;
    color: #fff;
  }
}
