.intro{
  height: 50%;
  text-align: center;
  // background-image: url('/img/dog-hero.jpg');
  background-size: cover;
  background-position: center;
  .filter{
    background: #e2f2f9;
    height: 100%;
  }
  .container{
    height: 50%;
  }
}

.big-logo{
  background-image: url('/img/Next_Door_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 75%;
  height: 90%;
  margin: auto;
  @include media($whale){
    width: 50%;
  }
}
.slogan{
  padding: 10px;
  font-style: italic;
  p{
    // color: #fff;
  }
}
