.why{
  // background: lighten($brand-primary,35%);
  padding: 40px 0;
  ul{
    margin-top: 20px;
  }
  li{
    height: 100px;
    position: relative;
  }
  p{
    margin-top: 10px;
  }
  h3{
    color: $brand-secondary;
  }
  
}
