---
layout: home
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="intro">
      <div class="filter">
        <div class="container vertical-shift">
          <div class="converter">
            <h1>Welcome!</h1>
            <p>We're ready to take care of your animals! <a href="mailto:pam@nextdoorpetsitters.com" target="_blank">Send us an email</a> Or click the button below to request a sitter</p>
            <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
<a class="btn btn-primary btn-lg pull-right" href="https://my.setmore.com/shortBookingPage/62b7d367-14dd-4d47-b93d-efa8b0e63d10">Request a sitter Today!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan">
      <p class="text-muted">Professional pet sitting and dog walking services in St. Paul, Minnesota</p>
    </div>
    <div class="why">
      <div class="container">
        {{ content }}
      </div>
    </div>
    <div class="clients-bar">
      <div class="container">
        {% include client_bar.html %}
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
