---
layout: home
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="intro">
      <div class="filter">
        <div class="container vertical-shift">
          <div class="hide-text  big-logo">Next Door Pet Sitters</div>
        </div>
      </div>
    </div>
    <div class="slogan">
      <p class="text-muted">Professional pet sitting and dog walking services in St. Paul, Minnesota</p>
    </div>
    <div class="why">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
